form {
  display: grid;
  gap: 10px;
}
input {
  max-width: 200px;
}
.buttonAddRecipe,
.buttonAddIngredient {
  justify-content: center;
  width: 250px;
  transition: background-color 0.3s ease;
}
.buttonAddRecipe:hover,
.buttonAddIngredient:hover {
  background-color: rgb(27, 110, 69);
}

.instructionsAddRecipe {
  height: 250px;
  width: 250px;
}
