/* .tab-content {
  display: grid;
} */
.ingredient-add {
  background-color: inherit;
  font-size: 20px;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-inline label {
  margin: 5px 10px 5px 0;
}
.form-inline input {
  color: black;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: rgb(235, 219, 208);
  border: 1px solid #ddd;
}

.form-inline button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(73, 61, 47);
  border: 1px solid rgb(10, 10, 9);
  cursor: pointer;
}
.cancel-button {
  font-size: large;
}
.delete-ingredient {
  margin-left: 25px;
  max-height: 5px;
  max-width: 5px;
  line-height: 5px;
  font-size: 0.8em;
  border-radius: 70px;
}
.delete-ingredient:hover {
  background-color: rgb(244, 61, 61);
}
.main-button:hover {
  border: 1px solid rgb(112, 54, 108);
  background-color: blueviolet;
}
.form-inline textarea {
  color: rgb(117, 128, 36);
  background-color: rgb(235, 219, 208);
}
.ingredient-list > li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ingredient-inputs {
  height: 50px;
  display: flex;
  gap: 10px;
}
.ingredient-inputs > select {
  height: 35px;
  margin-top: 9px;
  margin-left: 10px;
}
@media (max-width: 2000px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    /* align-items: stretch; */
  }
}
.mannual-add {
  float: left;
}
.search-add {
  float: right;
}
.addition-box {
  display: flex;
  background-color: rgba(84, 53, 53, 0.18);
  height: 500px;
}
.mannual-add {
  margin-top: 65px;
  margin-left: 25px;
  width: 200px;
  color: black;
  float: left;
  min-height: 500px;
  background-color: inherit;
}
.mannual-add > input {
  background-color: rgb(214, 182, 182);
  height: 23px;
  color: black;
}
.mannual-add > button {
  margin-top: 65px;
  width: 200px;
}
.mannual-add > button:hover {
  background-color: green;
}
.search-add {
  margin-top: 50px;
  float: right;
}
.search-add > input {
  color: grey;
  background-color: antiquewhite;
  text-align: center;
  margin-bottom: 5px;
  height: 20px;
  width: 200px;
}
/* .macros {
  margin-top: 150px;
} */

.addition {
  display: flex;
  margin: 25px;
  justify-content: space-between;
}
.addition > input {
  height: 15px;
}
