.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(198, 169, 131);
}

.profile {
  /* Profile styles */
  /* flex: 0 0 auto; */
  color: black;
}

.middle-section {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

.navigation {
  /* Navigation styles */
  margin-bottom: 20px; /* Add some spacing between navigation and content */
}

.content {
  /* Content styles */
}
