.dashboard {
  display: flex;
}

.tab-content {
  width: 600px;
  color: black;
  position: absolute;
  left: 40%;
  right: 50%;
  top: 25%;
  bottom: 50%;
}
/* .profile-section {
  position: fixed;
  top: 0px;
} */
