.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 20px; */
  background-color: rgb(213, 190, 159);
}
.logo {
  /* background-color: white; */
  border-radius: 10px;
}
.profile {
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
  color: black;
}

.middle-section {
  padding: 10px;
  min-height: 100vh;
  background-color: rgba(186, 156, 113, 0.776);
  margin-left: 500px;
  display: block;
  text-align: center;
  width: fit-content;
}

.navigation {
  /* Navigation styles */
  margin-bottom: 20px; /* Add some spacing between navigation and content */
}
.tab-link {
  /* position: absolute; */
  display: flex;
}
.logout {
  transition: background-color 3s ease;
}
.logout:hover {
  background-color: rgb(147, 34, 34);
}
