.homepage {
  display: flex;
  justify-content: space-between;
}
.homepage-intro {
  position: relative;
  height: 100vh;
}
.homepage-intro > h1 {
  margin-left: 25px;
  margin-top: 50%;
  color: rgb(128, 81, 40);
}
.homepage-buttons {
  width: 50%;
  background-color: black;
  /* margin-left: 200px; */
}
.homepage-buttons > h1 {
  color: white;
  text-decoration: solid;
  font-size: 20px;
  text-align: center;
  margin-top: 250px;
}

.homepage-buttons > button {
  margin-top: 10px;
  margin-left: 50px;
}
