/* .navigation-tabs {
  left: 40%;
  right: 50%;
  display: flex;
  top: 0;
}*/
.navigation-tabs {
  display: flex;
  margin-top: 125px;
}
.tab-link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 25px;
}
.tab-link:hover {
  color: rgb(57, 70, 37);
}
/* .active-tab {
  color: white;
} */
