.recipe-card-page2 {
  position: relative;
  display: flex;
  width: 200px;
  height: 375px;
  background-color: #8d5c90;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ingredients-page2-box {
  text-align: left;
  margin-left: 2px;
  display: block;
}

h2 {
  text-decoration: underline;
  align-self: center;
  font-family: "Times New Roman", Times, serif;
}
li {
  color: black;
  list-style: none;
}
.ingredients-page2 {
  background-color: rgb(100, 62, 136);

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.recipe-card-book-controls-page2 {
  position: absolute;
  bottom: 0;
  display: flex;
}
.prev-button,
.instructions-button {
  color: rgb(251, 248, 248);
  /* padding: 5px; */
  background-color: rgb(20, 13, 2);
  margin-bottom: 5px;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .prev-button {
  margin-right: 30px;
} */
.ingredients-page2 {
  background-color: rgb(100, 62, 136);
  display: block;
  border: white;
}
