.recipe-builder-container {
  margin-top: 10px;
  border-radius: 15px;
  color: rgb(21, 21, 21);
  border: solid;
  height: 200px;
}
.ingredient-dropzone {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: darkblue;
  border-color: rgb(77, 175, 35);
  height: 75px;
}
.dropped-ingredients {
  text-align: left;
  padding: 10px;
  font-size: 15px;
  overflow-y: auto;
  font-family: monospace;
  height: 100px;
}
.selected-ingredient {
  margin: 10px;
}
.selected-ingredient > img {
  border-radius: 15px;
}
/* .dropped-ingredients-container {
  flex: 1;
  height: 100px;
  
  border: 2px solid #ccc;
  padding: 10px;
} */
