.recipe-card {
  position: relative;
  width: 200px;
  height: 333px;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h2 {
  text-decoration: underline;
  align-self: center;
  font-family: "Times New Roman", Times, serif;
}
li {
  color: black;
  list-style: none;
}
.ingredients {
  margin-left: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: auto;
  border: 1px #ccc; /* Add borders for visual clarity */
  padding: 10px;
}
.recipe-card-book-controls-page2 {
  position: absolute;
  bottom: 0;
  display: flex;
}
.prev-button,
.instructions-button {
  color: rgb(251, 248, 248);
  /* padding: 5px; */
  background-color: rgb(20, 13, 2);
  margin-bottom: 5px;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .prev-button {
  margin-right: 30px;
} */
