/* RecipeCard.css */
h3 {
  color: black;
}
.recipe-card {
  width: 200px; /* Adjust the width as needed */
  height: 333px; /* Adjust the height as needed */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.recipe-image {
  width: 100%;
  height: 35%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.recipe-rating {
  font-size: 14px;
  margin: 5px 10px;
}
