/* RecipeCard.css */
h3 {
  color: black;
  text-align: center;
}
h4 {
  margin: none;
  color: black;
}
.recipe-card-page1 {
  position: relative;
  width: 200px;
  height: 375px;
  background-color: #8d5c90;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(15, 14, 14, 0.1);
  transition: background-color 0.5s, transform 0.5s;
  flex-direction: column;
  overflow: hidden;
}
.fav-icon:hover {
  color: red;
}
.fav-icon-active {
  color: blue;
}
.recipe-card:hover {
  background-color: rgb(124, 124, 9);
  transform: scale(1.02);
  cursor: pointer;
}
.recipe-image {
  width: 100%;
  height: 33%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-title {
  margin-top: 2px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.recipe-rating {
  margin-top: -7px;
  margin-bottom: 10px;
  left: 50px;
  margin-left: 15px;
  color: black;
  font-size: 14px;
}
.recipe-contributor {
  margin-top: -10px;
  color: black;
  margin-left: 5px;
}
.recipe-cookingTime {
  margin-top: -5px;
  color: black;
  margin-left: 5px;
}
.recipe-typeOfFood {
  margin-top: -5px;
  margin-left: 15px;
}
.recipe-card-book-controls {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.ingredients-button {
  color: rgb(250, 248, 248);
  height: 30px;
  line-height: 10px;
  text-align: center;
  background-color: rgb(17, 17, 17);
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  /* float: right; */
  bottom: 0;
}
